
<div class="d-flex justify-content-center">
  <div class="testo">
  <h3>Acerca de esto</h3>
  <p>En esta pequeña aplicación se demuestra la comunicación entre dos componentes hermanos utilizando la técnica de los Observables. Basicamente se trata de la construcción de un observable, al cual se subscriben dichos componentes por medio de un servicio y los cuales quedan expectantes al evento. Para identificar el componente que desencadena el cambio de estado he definido una constante dentro de cada función anexada al evento "click", de esta manera y con la correspondiente lógica, cada componente puede determinar que información debe mostrar.</p>
  <br>
  <p>El código fuente puede verse <a href="https://github.com/AlanYanse/comunication-service-app">aquí</a>.</p>
  <p>Mi <a href="https://alan-yanse-portafolio.web.app/">portafolio</a>.</p>
  </div>
</div>
